@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inconsolata';
}

.side-menu {
    height: 95vh;
    width: 50vw;
    background-color: white;
    position: fixed;
    top: 20px;
    left: -100%;
    z-index: 999;
}

.side-menu.active {
    left: 0;
}

/* !! HOME SCREEN Grid layout for the medium screens and above  */

@media screen and (min-width: 768px) {
    .grid-layout {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
        padding-left: 50px;
        padding-right: 50px;
    }

    .top-bar {
        grid-column: 2/7;
    }
    
    .side-menu {
        box-shadow: 10px 10px 80px rgb(197, 195, 195);
        height: auto;
        position: static;
        grid-column: 1/2;
        grid-row: 1/9;
        width: auto;
    }

    .content {
        grid-column: 2/7;
        grid-row: 2/9;
    }
}

@media screen and (min-width: 1250px) {
    .grid-layout {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 1444px) {
    .grid-layout {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (min-width: 1919px) {
    .grid-layout {
        padding-left: 500px;
        padding-right: 500px;
    }
}

/* !! HOME SCREEN Grid layout for the medium screens and above  */