@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto';
}

.top-banner-component {
    box-shadow: 10px 10px 80px rgb(197, 195, 195);
}

.bottom-banner-component {
    box-shadow: 10px 10px 80px rgb(197, 195, 195);

}

.page {
    padding-left: 20px;
    padding-right: 20px;
}

.game-component {
    display: flex;
    flex-wrap: wrap;
}

/* !! HOME SCREEN Grid layout for the medium screens and above  */

@media screen and (min-width: 768px) {
   .page {
    padding-left: 10px;
    padding-right: 10px;
   }
}

@media screen and (min-width: 1250px) {
    .page {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 1444px) {
    .page {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (min-width: 1919px) {
    .page {
        padding-left: 500px;
        padding-right: 500px;
    }
}

/* !! HOME SCREEN Grid layout for the medium screens and above  */